@import "tailwindcss";

/* Light theme (default) */
:root {
  --color-accent: #7c3aed;
  --color-accent-hover: #6d28d9;
  --color-accent-light: #ede9fe;
  --color-bg: #f9fafb;
  --color-border: #d1d5db;
  --color-container: #e5e9f0;
  --color-deep: #f3f4f6;
  --color-muted: #6b7280;
  --color-surface: #ffffff;
  --color-surface-hover: #f3f4f6;
  --color-text: #111111;

  --color-danger: #dc2626;
  --color-info: #2563eb;
  --color-success: #16a34a;
  --color-warning: #d97706;
  --color-rating: #facc15;
}

/* Dark theme */
:root[data-theme='dark'] {
  --color-accent: #8b5cf6;
  --color-accent-hover: #a78bfa;
  --color-accent-light: #2e1065;
  --color-bg: #141414;
  --color-border: #2a2a2a;
  --color-container: #25272b;
  --color-deep: #0f0f0f;
  --color-muted: #b0b0b0;
  --color-surface: #1a1a1a;
  --color-surface-hover: #222222;
  --color-text: #ffffff;

  --color-danger: #dc2626;
  --color-info: #2563eb;
  --color-success: #16a34a;
  --color-warning: #d97706;
  --color-rating: #facc15;
}

@theme inline {
  --color-accent: var(--color-accent);
  --color-accent-hover: var(--color-accent-hover);
  --color-accent-light: var(--color-accent-light);
  --color-bg: var(--color-bg);
  --color-border: var(--color-border);
  --color-container: var(--color-container);
  --color-deep: var(--color-deep);
  --color-muted: var(--color-muted);
  --color-surface: var(--color-surface);
  --color-surface-hover: var(--color-surface-hover);
  --color-text: var(--color-text);
  --color-danger: var(--color-danger);
  --color-info: var(--color-info);
  --color-success: var(--color-success);
  --color-warning: var(--color-warning);
  --color-rating: var(--color-rating);

  --font-sans: var(--font-inter);

  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 24px;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
}

::backdrop {
  @apply bg-[#000]/50 cursor-pointer;
}
