DATABASE_URL="postgresql://user:password@localhost:5432/postgres?schema=public"
PORT="3001"

# TMDB API (themoviedb.org)
TMDB_ACCESS_TOKEN=""
TMDB_API_KEY=""

# OMDb API (omdbapi.com)
OMDB_API_KEY=""
